<!DOCTYPE html>
<html>
    <head>
        <!-- Meta Tag-->
        <meta charser="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS-->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  rel= "stylesheet"text='text/css'/>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
        
        <!-- Title Tag-->
        <title>Home Page</title>

    </head>
    <body>

        <!--Header-->
        <header>
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark  ">
                <div class="container">
                    <a href="{{ url_for('home') }}" class="nav-brand">Agro-Intelligent</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBar"aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="myNavBar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="{{ url_for('home') }}" class="nav-link">Home</a>
                            </li>
                            <li class ="nav-item">
                                <a href="{{ url_for('crop_recommend') }}" class="nav-link">Crop Recommender</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ url_for('fertilizer_recommendation') }}">Fertilizer Advisor</a>
                            </li>
                            <li class="nav-item">
                              <a href="{{url_for('crop_yield')}}" class="nav-link">Yield Predictor</a>
                            </li>
                            <li class="nav-item active">
                              <a href="{{url_for('about')}}" class="nav-link">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Section -->
        <section class="core-value py-5" id="about">
            <div class="container py-md-4">
                <div class="row core-grids">
                    <div class="col-lg-11">
                        <h2 class="mt-4">Agro-Intelligent</h2>
                        <p class="mt-3">&emsp;Agro-Intelligent is a Machine Learning based Web application.It is used for some farming strategy 
                            such us Recommending the sowing crop based on Soil and Weather parameters, How to use the fertilizer using the 
                            soil parameter and  Prediction of crop yield based on the weather, crop and soil parameters by production per Kilograms.
                        </p>
                    </div>
                    <div class="col-lg-11">
                        <h3 class="mt-5">Crop Recommender</h3>
                        <p class="mt-3">&emsp;Crop Recommender is used to recommend the sowing crop based on weather and soil parameters. Consider
                            the soil factor like Nitrogen, Phosphorous, Potassium, soil pH value and Weather parameters like Rainfall, 
                            temperature, moisture and humidity. We use open weather API to get the current value of Rainfall, moisture, humidity 
                            by getting parameters like State and City.After applying the different machine learning algorithms for the dataset, 
                            the machine learning algorithm Random forest classifier show the best accuracy score almost 99.986%.
                            we trained model by using Random forest classifier algorithm for crop recommending model. This model will be saved, 
                            and the farmers can easily get  the sowing crop recommending by giving their farmer soil type characteristics, 
                            top soil  and pH as the input to the system,etc.
                        </p>
                    </div>
                    <div class="col-lg-11">
                        <h3 class="mt-5">Fertilizer Advisor</h3>
                        <p class="mt-3">&emsp;Fertilizer Advisor is used to advice how to use fertilizer based on crop and soil parameters.Consider
                            Consider the soil factor like Nitrogen, Phosphorous, Potassium, soil pH value and crop. Based on the soil value it will
                            say the fertilizer and how to use it.So farmer's or any person who want to cultivate ,can easily get information about
                            the fertilizer. 
                        </p>
                    </div>
                    <div class="col-lg-11">
                        <h3 class="mt-5">Yield Predictor</h3>
                        <p class="mt-3">&emsp;Yield Predictor is used to Predict the crop yield .Consider the soil factor like Nitrogen, Phosphorous, 
                            Potassium, soil pH value and Weather parameters like Rainfall, temperature, moisture and humidity. We use open weather API 
                            to get the current value of Rainfall, moisture, humidity by getting parameters like State and City. After applying the 
                            different machine learning algorithms for the dataset, we trained models of the crop recommending model. Based on Mean 
                            Absolute error, Random Forest machine learning algorithm shows the low MAE value. Crop yield which will use the Random 
                            Forest Regression machine learning algorithm to trained the model and test the model. Which will outcomes the best 
                            accuracy score as 97.7654325897.So the farmers can easily get the crop yield prediction by giving their farmer's 
                            soil type characteristics, top soil  and pH as the input to the system,etc.


                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--Footer-->
        <footer class=" bg-dark text-white pt-5 pb-4">
            <div class="container text-center text-md ">
                <h2><a href="{{ url_for('home') }}">Agro-Intelligent</a></h2>
                <p>Crop Recommender - Fertilizer Advisor - Crop Yield Prediction<br> </p>
                <p>&copy; Copyright 2021 HICET</p>
            </div>
        </footer>

        </footer>
    <!-- Bootstrap JS-->
    <script src="{{ url_for('static', filename='css/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap.min.js') }}"></script>
    
    </body>
</html>